Flask==3.0.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
gunicorn==21.2.0

numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2

tensorflow==2.16.1
keras==3.3.3

nltk==3.8.1
opencv-python-headless==4.9.0.80
pytesseract==0.3.10
Pillow==10.3.0